<div class='container'>
  <%= form_for [@signboard, @artist, @song] do |f| %>
    <div class='col m6'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class='col m6'>
      <%= f.label :album %>
      <%= f.text_field :album %>
    </div>
    <div class='col m6'>
      <%= f.label :release_date %>
      <%= f.date_field(:release_date) %>
    </div>
    <%= f.submit class: 'btn white black-text' %>
  <% end %>
</div>
